[Unit]
Description=MediaTomb Daemon for 2017
After=network.target

[Service]
EnvironmentFile=/etc/conf.d/mediatomb
ExecStart=/usr/bin/mediatomb -p $MT_PORT -P /run/mediatomb/pid -f $MT_CFGDIR $MT_OPTIONS
RuntimeDirectory=mediatomb
Restart=on-failure
RestartSec=5
User=mediatomb

[Install]
WantedBy=multi-user.target
