[Unit]
Description=MiniDLNA server (aka ReadyDLNA)
After=network.target
Conflicts=minidlna-r.service

[Service]
Type=simple
User=minidlna
Group=minidlna
ExecStart=/usr/bin/minidlnad -S
ProtectSystem=full
ProtectHome=on
PrivateDevices=on
NoNewPrivileges=on

[Install]
WantedBy=multi-user.target
